button:focus {outline:0;} 
#contact{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact1{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact2{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact3{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact4{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact5{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact6{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact7{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}
#contact8{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact9{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact10{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact11{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact12{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact13{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact14{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}

#contact15{
	display: none;
	background: lightgray;
	font-size: 12px;
	color: #000;
	padding: 5px;
	width: 80%;
	margin-left: 8%;
}