<a href="#" class="back-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
<!-- Footer -->
<section id="footer-section" style="margin-top: 60px;">
    <footer class="site-footer">
        <div class="container-fluid" style="margin-top: 2%;"> 
	        <div class="container1">
	            <div class="row">
		            <!-- COMPANY ADRESS -->   
		            <div class="col-sm-4 ">
		              	<div class="footer-div" style="margin-left: 20px;">株式会社カイラス</div>
			            <ul>
			                <li class="footer-li" style="margin-top: 7px;"> 〒123−0022 東京都多摩市一丁目2-89 国立ビル１階</li>
			                <li class="footer-li" style="margin-top: -10px;">TEL: 030-0000-1234</li>
			                <li class="footer-li" style="margin-top: -10px;">FAX: 030-1234-5678</li>
			                <li class="footer-li" style="margin-top: -10px;">営業時間：09:00〜18:00 </li>
			                <li class="footer-li" style="margin-top: -10px;">(土曜日・日曜日・祝日および年末年始は休業となります）</li>
			                <li class="footer-li" style="margin-top: -10px;">※　緊急の場合は090−1234−5678までお問合せ下さい。</li>
			            </ul> 
		             	<div class="row rm-6">
			                <div class="col-sm-12 logo-high" style="margin-left: 15%; margin-top: 20px;">
				                <a href="https://www.instagram.com"> <div class="card "></div></a> 
				                <a href="https://www.facebook.com"> <div class="card1 "></div></a>
			              	</div>   
		              	</div>   
		            </div> 
		            <!-- COMPANY ADRESS END -->   
		            <!-- PDF -->   
		            <div class="col-sm-4">
		              	<div class="footer-div" style="margin-left: 140px;">ご利用ガイド:</div>                   
		                <ul style="margin-left: 150px;">
			                <li class="footer-li"style="margin-top: 7px;"><a class="footer-link" href="pdf/旅の持参品リスト.pdf" download target="_blank">旅の持参品リスト</a> </li>
			                <li class="footer-li"><a class="footer-link"  href="pdf/旅のモンゴル語.pdf" download target="_blank">旅のモンゴル語</a> </li>
			                <li class="footer-li"><a class="footer-link"  href="pdf/プライバシー.pdf" download target="_blank">プライバシー</a> </li>
			                <li class="footer-li"><a class="footer-link" href="pdf/旅行業約款.pdf"  download="contract" target="_blank">旅行業約款</a> </li>
		                </ul>  
		            </div>
		            <!-- PDF END -->   
		          <!-- send mail -->
		            <div class="col-sm-4 ">
		                <div class="row rm-8  ">
			                <form id="test-form" class="form-inline rm-12 ">
				                <input  type="text"  name="name" class="form-control" id="name" placeholder="お名前" required="" oninvalid="this.setCustomValidity('お名前を入れてください')" oninput="setCustomValidity('')">
				                <input  type="number"  name="tel" class="form-control" id="tel" placeholder="電話番号" equired="" oninvalid="this.setCustomValidity('お電話番号を入れてください')" oninput="setCustomValidity('')" style="margin-top: 10px;">
				                <input  type="email" name="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="メ-ルアドレス" equired="" oninvalid="this.setCustomValidity('メ-ルアドレスを入れてください')" oninput="setCustomValidity('')"  style="margin-top: 10px;">
				                <textarea style="margin-top: 10px;height: 100px;" rows="4" cols="50" class="form-control" name="comment" id="comment"  placeholder=""></textarea>
				                <button type="submit" id="submit" class="btn btn-primary form-control" style=" margin-top: 10px; ">送信</button>
				                <small style="color: gray;"><div class="thanks success"></div></small>
			                </form>
		                </div>  <!-- send mail end -->
		            </div>    
	            </div>
	        </div>
	          <!-- send mail END -->
	        <!-- logo Partners: -->
	        <div class="container" style="margin-bottom: -90px;">
		        <div class="row mb-5 mb-lg-5 ">
		            <img src="assets/images/logo/jta.png" class="height" style="margin-left: 33%">
		            <img src="assets/images/logo/MIAT.png" class="height" style="margin-left: 40px;" >
		            <img src="assets/images/logo/MNAIlogo.png" class="height" style="height: 70px; margin-left: 50px;">
		            <img src="assets/images/logo/logoTumen.png" class="height" style=" margin-left:30px;">  
		        </div>
	        </div>
	        <!-- logo Partners End: -->
	        <div class="row pt-5 mt-5 text-center">
	            <div class="col-md-12">
	              	<p style="color:darkgray;">
	              	©2020　モンゴルオフロードバイクツアー専門店<i class="icon-smile text-danger" aria-hidden="true"></i>  <a href="https://sorako.jp" target="_blank" ></a>
	              	</p>
	            </div>
	        </div>
        </div>
    </footer>
</section>  
<!-- Footer End -->
<!-- SCRIPT  -->
<script type='text/javascript' src="assets/js/hes-gallery.js"></script>
<script type='text/javascript' src="assets/js/jquery-3.3.1.js"></script>
<script type='text/javascript' src="assets/js/main.js"></script>
  <!-- add js -->
<script type='text/javascript' src="assets/js/add/jquery-migrate-3.0.1.min.js"></script>
<script type='text/javascript' src="assets/js/add/jquery.stellar.min.js"></script>
<script type='text/javascript' src="assets/js/add/owl.carousel.min.js"></script>
<script type='text/javascript' src="assets/js/add/aos.js"></script>
<script type='text/javascript' src="assets/js/add/scrollax.min.js"></script>
<script type='text/javascript' src="assets/js/add/main.js"></script>
<script type='text/javascript' src="https://kit.fontawesome.com/a076d05399.js"></script>
<script type='text/javascript' src="assets/js/hes-gallery.js"></script>
<script type='text/javascript' src="assets/js/jquery-3.3.1.js"></script>
<script type='text/javascript' src="assets/js/pic-slide.js"></script>
<script type="text/javascript">
 var spreadsheetID = "1uFw4_OstzvujAEQ3z-8D8a_qQeZ2m9HwXCJJkqhzfgg";
 
 var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/od6/public/values?alt=json";
$.getJSON(url, function(data) {

	var entry = data.feed.entry;
	$(entry).each(function(){
		
		$('.like').prepend('<span>'+this.gsx$like.$t+'</span>');
		$('.dislike').prepend('<span>'+this.gsx$dislike.$t+'</span>');
	});
});
</script>