<title>tour &mdash; Welcome mongolia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="assets/images/logo/logoSorako.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/hes-gallery.css"> 
<style type="text/css">
.card {
    width: 50px;
    height: 195px;
    background: url("assets/images/logo/Instegram.png") no-repeat;
    display: inline-block;
}
.card:hover {
    background: url("assets/images/logo/Instegram1.png") no-repeat;
}
.card1 {
    width: 50px;
    height: 195px;
    margin-left: 20px;
    background: url("assets/images/logo/fb.png") no-repeat;
    display: inline-block;
}
.card1:hover {
    background: url("assets/images/logo/fb1.png") no-repeat;
}
.gobi {
  /* The image used */
    color: #fff;
    padding: 60px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-image: url("assets/images/gobi-header.jpg");
}
.circle {
    border:2px solid black;
    background-color: white;
    height:30px;
    border-radius:50%;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
</style>
